@model IncidentEditViewModel
<h3>@Model.currAction Incident</h3>

@if (Model.currAction == "Add")
{
<form asp-action="Edit" asp-controller="Incident" method="post">
    <input type="hidden" value="0" asp-for="currIncident.incidentId" />
    <label for="currIncident.incidentCustomerId">Customer</label>
    <br />
    <select id="currIncident.incidentCustomerId" name="currIncident.incidentCustomerId" asp-for="currIncident.incidentCustomerId" asp-items="@(new SelectList(Model.customers, "customerId", "customerFullName"))">

        <option selected="selected" value="">Select a customer...</option>
    </select>
    <span asp-validation-for="currIncident.incidentCustomerId" class="text-danger"></span>
    <br />
    <label for="currIncident.incidentProductId">Product</label>
    <br />
    <select id="currIncident.incidentProductId" name="currIncident.incidentProductId" asp-for="currIncident.incidentProductId" asp-items="@(new SelectList(Model.products, "productId", "productName"))">

        <option selected="selected" value="">Select a product...</option>
    </select>
    <span asp-validation-for="currIncident.incidentProductId" class="text-danger"></span>
    <br />
    <label for="currIncident.incidentTitle">Title</label>
    <br />
    <input type="text" id="currIncident.incidentTitle" name="currIncident.incidentTitle" asp-for="currIncident.incidentTitle" />
    <span asp-validation-for="currIncident.incidentTitle" class="text-danger"></span>

    <br />
    <label for="currIncident.incidentDescription">Description</label>
    <br />
    <input type="text" id="currIncident.incidentDescription" name="currIncident.incidentDescription" asp-for="currIncident.incidentDescription" />
    <span asp-validation-for="currIncident.incidentDescription" class="text-danger"></span>

    <br />
    <label for="currIncident.incidentTechnicianId">Technician</label>
    <br />
    <select id="currIncident.incidentTechnicianId" name="currIncident.incidentTechnicianId" asp-for="currIncident.incidentTechnicianId" asp-items="@(new SelectList(Model.technicians, "technicianId", "technicianFullName"))">
        <option selected="selected" value="">Select a technician...</option>
    </select>
    <br />
    <label for="currIncident.incidentDateOpened">Date Opened</label>
    <br />
    <input type="text" id="currIncident.incidentDateOpened" name="currIncident.incidentDateOpened" value="@DateTime.Now" asp-for="currIncident.incidentDateOpened" />
    <br />
    <label for="currIncident.incidentDateClosed">Date Closed</label>
    <br />
    <input type="text" id="currIncident.incidentDateClosed" name="currIncident.incidentDateClosed" value="" asp-for="currIncident.incidentDateClosed" />
    <span asp-validation-for="currIncident.incidentDateClosed" class="text-danger"></span>

    <br /><br />
    <input class="btn btn-primary" type="submit" value="Save" />
    <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("List", "Incident")'">Cancel</button>
</form>
}

@if (Model.currAction == "Edit")
{
<form asp-action="Edit" asp-controller="Incident" method="post">
    <input type="hidden" value="@Model.currIncident.incidentId" asp-for="currIncident.incidentId" />
    <label for="currIncident.incidentCustomerId">Customer</label>
    <br />
    <select id="currIncident.incidentCustomerId" name="currIncident.incidentCustomerId" asp-for="currIncident.incidentCustomerId" asp-items="@(new SelectList(Model.customers, "customerId", "customerFullName"))">
        <option selected="selected" value="">Select a customer...</option>
    </select>
    <span asp-validation-for="currIncident.incidentCustomerId" class="text-danger"></span>

    <br />
    <label for="currIncident.incidentProductId">Product</label>
    <br />
    <select id="currIncident.incidentProductId" name="currIncident.incidentProductId" asp-for="currIncident.incidentProductId" asp-items="@(new SelectList(Model.products, "productId", "productName"))">
        <option selected="selected" value="">Select a product...</option>
    </select>
    <span asp-validation-for="currIncident.incidentProductId" class="text-danger"></span>

    <br />
    <label for="currIncident.incidentTitle">Title</label>
    <br />
    <input type="text" id="currIncident.incidentTitle" name="currIncident.incidentTitle" asp-for="currIncident.incidentTitle" value="@Model.currIncident.incidentTitle" />
    <span asp-validation-for="currIncident.incidentTitle" class="text-danger"></span>

    <br />
    <label for="currIncident.incidentDescription">Description</label>
    <br />
    <input type="text" id="currIncident.incidentDescription" name="currIncident.incidentDescription" asp-for="currIncident.incidentDescription" value="@Model.currIncident.incidentDescription" />
    <span asp-validation-for="currIncident.incidentDescription" class="text-danger"></span>

    <br />
    <label for="currIncident.incidentTechnicianId">Technician</label>
    <br />
    <select id="currIncident.incidentTechnicianId" name="currIncident.incidentTechnicianId" asp-for="currIncident.incidentTechnicianId" asp-items="@(new SelectList(Model.technicians, "technicianId", "technicianFullName"))">
        <option selected="selected" value="">Select a technician...</option>
    </select>
    <br />
    <label for="currIncident.incidentDateOpened">Date Opened</label>
    <br />
    <input type="text" id="currIncident.incidentDateOpened" name="currIncident.incidentDateOpened" value="@Model.currIncident.incidentDateOpened" asp-for="currIncident.incidentDateOpened" />
    <br />
    <label for="currIncident.incidentDateClosed">Date Closed</label>
    <br />
    <input type="text" id="currIncident.incidentDateClosed" name="currIncident.incidentDateClosed" value="@Model.currIncident.incidentDateClosed" asp-for="currIncident.incidentDateClosed" />
    <span asp-validation-for="currIncident.incidentDateClosed" class="text-danger"></span>

    <br /><br />
    <input class="btn btn-primary" type="submit" value="Save" />
    <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("List", "Incident")'">Cancel</button>
</form>
}